.footer {
    padding: 20px;
    background-color: #d8b1a0;
    display: flex;
    flex-wrap: wrap;
  }
  .empty {
    flex: 10%;
  }
  .address {
    flex: 35%;
  }
  .canada {
    display: flex;
    align-items: center;
    gap: 2%;
  }
  .flag {
    width: 5%;
    margin-top: -2%;
  }
  .footer-category {
    flex: 25%;
  }
  .countries {
    line-height: 10px;
  }
  .faq {
    flex: 30%;
  }
  .category-item {
    line-height: 15px;
  }
  .brand-name {
    line-height: 15px;
  }
  
  @media screen and (max-width: 767px) {
    .flag {
      width: 10%;
      margin-top: -8% !important;
    }
    .empty {
      flex: 0%;
    }
    .footer-category {
      flex: 25%;
      margin-left: 5%;
    }
    .countries {
      line-height: 10px;
    }
    .category-item {
      line-height: 15px;
    }
    .brand-name {
      line-height: 15px;
    }
  }
  
  @media screen and (max-width: 592px) {
    .footer {
      font-size: 10px;
    }
    .empty {
      flex: 0%;
    }
    .address {
      flex: 25%;
    }
    .footer-category {
      flex: 25%;
      margin-left: 10%;
    }
    .faq {
      flex: 25%;
    }
    .flag {
      width: 10%;
      margin-top: -8% !important;
    }
    .category-item {
      line-height: 15px;
    }
    .brand-name {
      line-height: 15px;
    }
    .countries {
      line-height: 10px;
    }
    .canada:nth-child(1) {
      padding-top: 5px;
    }
  }
  
  @media screen and (max-width: 371px) and (min-width: 299px) {
    .empty {
      flex: 0;
    }
    .footer-category {
      flex: 15%;
      margin-left: 10%;
    }
    .faq {
      flex: 8%;
    }
    .flag {
      width: 15%;
      margin-top: -10% !important;
    }
    .address {
      flex: 16%;
    }
    .footer {
      font-size: 8px;
    }
    .category-item {
      line-height: 15px;
    }
    .brand-name {
      line-height: 15px;
    }
    .contact-input {
      width: 100px !important;
    }
    .countries {
      line-height: 10px;
    }
  }
  